# Cached and downloaded images
/cache_local/*
/cache_remote/*
!cache_local/.gitkeep
!cache_remote/.gitkeep

# Composer
/vendor/
composer.lock

# Environment files and configs
.env
.env.*
!.env.example
/config/*
!/config/whitelist.example.php

# IDE and system files
.idea/
.vscode/
**/.DS_Store
Thumbs.db

# Logs
*.log